/* General Rules */

html {
    font-family: 'Roboto', sans-serif;
    color: #4a4a4a;
    background-color: #f3f5f5;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

/* Header */

.header {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}



.logo {
    display: flex;
    align-items: center;
    height: 32px;
}

.logo__img {
    display: inline-block;
    height: 100%;
}

.logo__title {
    font-weight: bold;
    color:#4a4a4a;
    text-transform: uppercase;
}

.logo__title span {
    color: #d8d8d8; 
}

.menu {
    display: inline-flex;  
}

.menu__item {
    margin-left: 16px;

    transition: color linear .2s;
}

a.menu__item:hover{
    color: #d8d8d8;
}

/* Banner */

.banner {
    background-color:#d8d8d8;
    margin-left: 24px;
    padding: 32px 0;
}

.banner .container {
    display: flex;
    align-items: center;
    background-color: #d8d8d8;
}

.banner__img__content {
    width: 60%;
    height: auto;
    margin-right: 24px;
}

.banner__img {
    width: 100%;
    display: block;
    overflow: hidden;
}

.banner__text__content {
    max-width: 27%;
}

.banner__title {
    font-size: 3rem;
    font-weight: bold;
}

.banner__subtitle {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 1.75rem;
}

.banner__button {
    width: 100%;
    margin-top: 1.75rem;
    padding: .5rem 0;
    font-size: 1rem;
    color: #ffffff;
    background-color: #4a4a4a;

    transition: background-color, color linear .2s ;
}

.banner__button:hover {
    color: #d8d8d8;
    background-color: #242424;
}

/* Main */

.main {
    width: 100%;
    background-color: #f3f5f5;
    margin: 32px 24px;
}

.main .container {
    display: flex;
}

.main__article {
    width: 60%;
    margin-right: 24px;
}

.article__img__content {
    width: 100%;
}

.article__img {
    width: 100%;
    display: block;
    overflow: hidden;
}

.article__text__content {
    display: flex;
    flex-direction: column;
}

.article__title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: left;
    margin: 32px 0 24px 0;
}

.article__text {
    line-height: 1.2;
    font-weight: 1.25rem;
    margin-bottom: 32px;
}
.article__author {
    font-size: .75rem;
}


.main__news {
    width: 40%;
    border-left: solid 1px #b9b9b9;
}

.news__item {
    display: flex; 
    border-bottom: 1px solid #b9b9b9;
}

.news__item:first-child {
    margin-top: -16px;
}

.news__img__content {
    width: 35%;
    padding: 16px;
}


.news__img {
    display: block;
    width: 100%;
    height: auto;
}
.news__text__content {
    width: 65%;
    margin: auto;
}
.news__title {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 8px;
}
.news__text {
    margin-bottom: 8px;
}
.news__link {
    color: #1051a5;
}